// Breakpoints

$site-breakpoints: (
  sm: 0px,
  md: 768px,
  lg: 1024px,
  xl: 1700px
);


// Columns and Rows

$row-class: '.row';
$column-class: '.col';
$column-count : 12;

$column-gutter : (
  sm: 12px,
  md: 16px,
  lg: 32px,
  xl: 32px,
);


// .wrapper container

$wrapper-max-width: 100%;

$wrapper-gutter : (
  sm: 24px,
  md: 32px,
  lg: 48px,
  xl: 48px
);
