<!-- _includes/partials/header.html -->

<header>
    <button class="button hamburger-button">
      <strong>Load War</strong>
    </button>

    <form id="dataform" class="form">
      <h3>Add War</h3>
      <textarea id="data">{{ site.testdata }}</textarea>
      <input id="fileUpload" type="file" accept=".har" />
      <br />
      <input type="submit" value="Submit" class="button" />
      <input type="reset" value="Reset" class="button" />
      <a href="#" class="button button--danger"
      onClick="(function(){var newStorage=JSON.parse(localStorage.getItem('HeroWarsHistory'));newStorage.shift();localStorage.setItem('HeroWarsHistory',JSON.stringify(newStorage));})();">
      Storage Fix</a>
    </form>
</header>

<!-- / _includes/partials/header.html -->
