header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid #E1E1E1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  .form {
    display: flex;
    align-items: center;

    h3 {
      margin: 0;
      width: auto;
      margin-right: 10px;
    }

    textarea {
      resize: none;
      overflow: hidden;
      width: 112px;
      height: 28px;
      line-height: 1.4;
      padding: 4px;
      outline: none;
    }

    .button {
      margin: 0 5px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  [type="file"] {
    display: none;
  }
}